.icon {
  height: 50px;
  width: 50px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: var(--color-dark);
  color: var(--color-fg-muted);
  border-radius: 50%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border: 1px solid var(--color-gray-light);
  margin-left: 10px;
}

.icon:hover {
  background-color: var(--color-gray-light);
  color: var(--color-dark-extra);
}
