.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100svh;
  padding-bottom: 15px;
  padding-top: 15px;
  transition: padding 0.5s, justify-content 0.5s;
}

.mainTitle {
  font-family: Product;
  font-size: 74px;
  line-height: 1.2;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  background: var(--background-gradient-white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
}

.mainTitelSub {
  background: var(--background-gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 480px) {
  .mainTitle {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 15px;
  }
}
